%h3= @clan.name
%h4= simple_format "Clan leaders: #{(@clan_leaders.map { |cl| link_to cl.player.name, player_path(cl.player.name) }).join ', '}"
%h4= "Average rating #{@clan.average_rating}"

%p= @clan.about

= button_to 'Join', join_clan_path(@clan.id)

%h5 Players

%table.ui.basic.table
  %thead
    %tr
      %th Name
      %th Rating
  - @players.each do |player|
    %tr
      %td= link_to player.name, player_path(player.name)
      %td= player.rating
