%h2 Latest games

%table.ui.basic.table.games
  %thead
    %tr
      %th ID
      %th Gametype
      %th Map
      %th Length
      %th Result
      %th Date
  - @games.each do |game|
    %tr
      %td= link_to game.id, "/games/#{game.id}"
      %td= game.gametype
      %td= game.map
      %td= format_game_length game.time
      %td= game.result
      %td= game.date
