%h3
  = @player.name
  - if @user.country
    = content_tag(:i, '', class: "#{@user.country.downcase} flag")
%h4= @user.player_clan
%h5= @player.rating

- if user_signed_in? && @user.id == current_user.id
  %p= "Ingame key: #{@player.secret_key}"
  = link_to 'Edit profile', "/users/edit"

%h4 Latest games

%table.ui.basic.table.games
  %thead
    %tr
      %th Gametype
      %th Map
      %th Length
      %th Result
      %th Date
      %th Rating Change
  - @player.games.each do |game|
    %tr
      %td= game.gametype
      %td= game.map
      %td= game.time
      %td= game.result
      %td= game.date
      %td= if game.rating_change > 0 then "+" + game.rating_change.to_s else game.rating_change end
