.ui.basic.segment
  = image_tag @player.avatar.url(:medium), class: 'ui small right floated image'

  %h3
    = @player.name
    - if @player.country
      = content_tag(:i, '', class: "#{@player.country.downcase} flag")

  %h4= link_to @player.clan.name, clan_path(@player.clan.name) unless @player.clan.nil?

  - unless @player.about.nil?
    %h4 About #{@player.name}
    .ui.basic.segment
      = @player.about

  - if user_signed_in? && @user.id == current_user.id
    - if @player.clan.nil?
      %p= link_to 'Create a clan', new_clan_path
    %p= "Ingame key: #{@player.secret_key}"
    .ui.horizontal.list
      .item.content= link_to 'Edit user information', edit_user_registration_path
      .item.content= link_to 'Edit player profile', edit_player_path(@player.name)

  %h4 Total games: #{@player.total_games}

  %h4 CTF Rating: #{@player.ctf_rating}
  %h4 DM Rating: #{@player.dm_rating}

%h4 Overall stats

%table.ui.basic.table.games
  %thead
    %tr
      %th K/D
      %th Hammer kills
      %th Gun kills
      %th Shotgun kills
      %th Grenade kills
      %th Rifle kills
      %th Deaths
      %th Suicides
      %th Flag grabs
      %th Flag captures
      %th Flag returns
      %th Flag carrier kills
    %tr
      %td= @player.stats.kd
      %td= @player.stats.hammer_kills
      %td= @player.stats.gun_kills
      %td= @player.stats.shotgun_kills
      %td= @player.stats.grenade_kills
      %td= @player.stats.rifle_kills
      %td= @player.stats.deaths
      %td= @player.stats.suicides
      %td= @player.stats.flag_grabs
      %td= @player.stats.flag_captures
      %td= @player.stats.flag_returns
      %td= @player.stats.flag_carrier_kills

%h4 Latest games

%table.ui.basic.table.games
  %thead
    %tr
      %th ID
      %th Gametype
      %th Map
      %th Length
      %th Result
      %th Date
      %th Rating Change
  - @player.games.each do |game|
    %tr
      %td= link_to game.id, game_path(game.id)
      %td= game.gametype
      %td= game.map
      %td= format_game_length game.time
      %td
        - if game.result == 'Win'
          %p.ui.green.label= game.result
        -else
          %p.ui.red.label= game.result
      %td= game.date
      %td= if game.rating_change > 0 then "+" + game.rating_change.to_s else game.rating_change end
